body {
  width: 100%;
  padding: 0;
  margin: 0;
}

header {
  background-color: #181f2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0%;
  padding: 0%;
}

header ul a {
  color: white;
}

.menu {
  width: 40%;
  margin: 20px;
}

.logo_up {
  margin: 20px;
}

main {
  background-color: #181f2a;
}

.information-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
}

.img-intro img {
  width: 100%;
}

.text-up {
  width: 60%;
  text-align: center;
  color: white;
}

.text-up img {
  width: 100%;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7% 0% 7% 0%;
}

.options-container {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.options-up {
  width: 40%;
  margin: 5% 0% 5% 0;
  color: white;
}

.cont-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.cont-center img {
  width: 100%;
}

.cont-center div {
  width: 40%;
}

.cont-center .img-productive {
  width: 40%;
}

.cont-center .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-profile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.profile {
  width: 30%;
  border-radius: 5px;
  color: white;
  background-color: #202a3c;
}

.descriptio-profile img {
  width: 30px;
  border-radius: 30px;
}
/*# sourceMappingURL=style.css.map */