
@import "components/colors";
@import "components/paddings";


body{
    width: 100%;
    padding: 0;
    margin: 0;

}
header{ 
    background-color: $Darkmain;
    display: flex;
    justify-content: space-around;
   ul{
       padding: $padding-header;
       display: flex;
       justify-content: space-around;
       a{
           color: white;
       }
   }
}
.menu{
    width: 30%;
}
.logo_up{
    padding: $padding-header;
   
}
main{
    background-color: $Darkmain;
    
}
.img-intro{
    display: flex;
    justify-content: center;
    img{
        width: 70%;
    }
}