
@import "components/colors";
@import "components/margins";


body{
    width: 100%;
    padding: 0;
    margin: 0;

}
header{ 
    background-color: $Darkmain;
    display: flex;
    justify-content: space-between;
    align-items: center;
   ul{

       display: flex;
       justify-content: space-around;
       margin: 0%;
       padding: 0%;
       a{
           color: white;
       }
   }
}
.menu{
    width: $menu;
    margin: $margins-header;
}
.logo_up{
    margin: $margins-header;
   
}
main{
    background-color: $Darkmain;
    
}
.information-up{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-intro{
    display: flex;
    justify-content: center;
    width: $contenedor-inf-up;
    img{
        width: 100%;
    }
}
.text-up{
    width: $contenedor-inf-up;
    text-align: center;
    color: $White;
    img{
        width: 100%;
    }
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $margin-op-con;
}
.options-container{
    width: 70%;
    display: flex;
    text-align: center;
    align-items: baseline;
    justify-content: space-between;
}

.options-up{
    width: 40%;
    margin: $margins-op-up;
    color: $White;
}
.cont-center{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $White;
    
    img{
        width: 100%;
    }
    div{
        width: 40%;
    }
    .img-productive{
        width: 40%;
    }
    .description{
        display: flex;
    }
    
}
.container-profile{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.profile{
    width: 30%;
    border-radius: 5px;
    color: $White;
    background-color: $testimonials;
}
.descriptio-profile{
    
       
      img{
          width: 30px;
          border-radius: 30px;
      }


  
}
